<!DOCTYPE html>
<html>
  <head>
    <title>ResidentialSales</title>
    <%= csrf_meta_tags %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'https://cdnjs.cloudflare.com/ajax/libs/d3/3.5.17/d3.min.js' %>
    <%= javascript_include_tag "https://api.tiles.mapbox.com/mapbox.js/v2.2.4/mapbox.js" %>
    <%= stylesheet_link_tag "https://api.tiles.mapbox.com/mapbox.js/v2.2.4/mapbox.css" %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body data-mapbox-token="<%= ENV['MAPBOX_TOKEN'] %>">
    <header>
      <div class="navbar">
        <div class="nav1">
          <h1>Residential Sales</h1>
        </div>
        <div class="nav2">
          <ul>
            <li><a href="#"><%= link_to "Map", map_index_url %></a></li>
            <li><a href="#"><%= link_to "Pie Chart", residential_index_url %></a></li>
            <li><a href="#"><%= link_to "Bar Chart", residential_bar_chart_url %></a></li>
            <li><a href="#"><%= link_to "Boxplot Chart", residential_boxplot_chart_url %></a></li>
            <li><a href="#"><%= link_to "Scatter Plot Chart", residential_scatter_chart_url %></a></li>
          </ul>
        </div>
      </div>
    </header>
    <div class="main">
      <%= yield %>
    </div>
  </body>
</html>
